@model SINAN.Application.ViewModel.AlterarSenhaViewModel
@{
    ViewBag.Title = "Alterar Senha";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<br>
<br>
<br>

@using (Html.BeginForm("AlterarSenha", "Home", FormMethod.Post,
     new { id = "alterarsenha", @class = "form-signin" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            <div class="col-md-4 order-md-1 mb-1">
            </div>
            <div class="col-md-4 order-md-1">
                <div class="py-5 text-center">
                    <h2>Alterar Senha</h2>
                </div>
                <br>
                <div class="mb-3">
                    <label for="senha">Senha Atual</label>
                    @Html.PasswordFor(model => model.usu_senha_anterior, new { @class = "form-control", @placeholder = "*****", autofocus = "" })
                    @Html.ValidationMessageFor(model => model.usu_senha_anterior, "", new { @class = "text-danger" })
                    <br />
                </div>
                <div class="mb-3">
                    <label for="senha">Nova Senha</label>
                    @Html.PasswordFor(model => model.usu_senha, new { @class = "form-control", @placeholder = "*****", })
                    @Html.ValidationMessageFor(model => model.usu_senha, "", new { @class = "text-danger" })
                    <br />
                </div>
                <div class="mb-3">
                    <label for="senha">Confirmar Nova Senha</label>
                    @Html.PasswordFor(model => model.usu_senha_confirma, new { @class = "form-control", @placeholder = "*****", })
                    @Html.ValidationMessageFor(model => model.usu_senha_confirma, "", new { @class = "text-danger" })
                    <br />
                </div>
            </div>
            <div class="col-md-4 order-md-1 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
            </div>
            <div class="col-md-2">
                <br />
                <input class="btn btn-danger btn-lg btn-block" type="submit" value="Salvar">
                <br />
            </div>
            <div class="col-md-5">
            </div>
        </div>
    </div>
}

<br>
<br>
<br>